/* normalize.css */ 
html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}


body {
  background: #DDf7FF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.35;
  margin: 0;
  color: #345;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html * {
  box-sizing: border-box;
}

a {
  color: #345;
  text-decoration: underline;
  display: inline-block;
}

a:hover {
  color: #0c9;
}

h1 {
  font-size: 7em;
  color: #0c9;
  line-height: 1;
  margin-left: 40px;
}

h1 small.alpha {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
  padding: 5px;
  color: #9ab;
}

p {
  font-weight: 500;
  font-size: 2.5em;
  color: #345;
  line-height: 1.25; 
  /* background-color: #fff;  */
  padding: 10px 0;
  margin: 0 0 50px;
}

span.small {
  font-size: 0.7em;
  display: inline-block;
  margin: 20px 0; 
  color: #678;
}

strong {
  color: #0c9;
}

#header {
  position: absolute;
  top: 0; left: 0; width: 100vw;
  height: 150px;
  padding-left: 55px;
}

#describe {
  position: absolute;
  padding-top: 0px;
  padding-bottom: 50px;
  margin-top: 200px;
  width: 50vw;
  padding-left: 100px;
  padding-right: 100px;
  /* background-color: #fff; */
}

#describe .illustration img {
  width: 90%;
}

#instruct {
  position: absolute;
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: 50vw;
  width: 48vw;
  padding: 20px;
  box-shadow: inset 0 0 0 10px #0c9;
}

#instruct h3 {
  font-size: 2.75em;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #0c9;
}

#instruct h3:first-child {
  margin-top: 50px;
}

#instruct h3.last {
  margin-top: 70px;
}

#instruct .instruction {
  margin: 0px auto;
  max-width: 472px;
}

#instruct .card, #describe .card {
  width: 100%;
  margin: 5px 0;
}

#instruct .card {
  box-shadow: 0 0 20px 0 rgba(0,20,100,.1);
}

#instruct p {
  padding: 0;
  font-size: 1.4em;
  line-height: 1.35;
}

#describe .card.first {
  margin-top: 0px;
  display: block;
}

#instruct .video {
  margin-bottom: 50px;
  width: 472px;
  height: 354px;
}

#instruct .tos {
  max-width: 472px;
  margin: 20px auto;
  padding: 20px 0;
  font-size: 11px;
  line-height: 1.5;
  color: #678;
}


@media only screen and (max-device-width : 1024px), screen and (max-width : 1024px) {

  #header {
    text-align: center;
    padding-left: 0;
  }

  h1 {
    font-size: 4em;
    margin-left: 30px;
    margin-right: 30px;
  }

  #instruct, #describe {
    position: relative;
    width: 100vw;
    max-width: 512px;
    margin: 150px auto;
  }
  
  #describe {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }

  p {
    font-size: 2.25em;
    margin-bottom: 20px;
  }

  span.small {
    font-size: 0.6em;  
    line-height: 1.5;
  }

  p.more {
    font-size: 1.4em;
  }

  #instruct {
    margin-top: 0px;
    padding: 20px 40px;
    margin-bottom: 0;
  }

  #instruct h3 {
    font-size: 2em;
  }

  #instruct h3:first-child {
    margin-top: 20px;
  }

  #instruct .video {
    margin-bottom: 50px;
    max-width: 472px;
    max-height: 354px;
    width: 80vw;
    height: 60vw;
  }
  
}